# Virtual Environment
.venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Data & Vector Store
data/*
!data/raw_demo/
!data/raw_demo/**
!chroma_db.zip
# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# uv
.python-version
.streamlit/secrets.toml
